body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke
}

.text-white {
    --bs-text-opacity: blueviolet;
    color: #202123;
    font-family: none;
    font-size: x-large;
    font-feature-settings: initial;
    font-variant: diagonal-fractions;
    border-radius: 5px;
}



.bg-image {
    background-image: url('brasil.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('search_12297232.png');
    background-position: 5px 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    position: relative;
    right: 6px;
}

h1 {
    margin: 0;
    color:azure
}

h2 {
    display: block;
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: auto;
    margin-inline-start: -215px;
    margin-inline-end: 0px;
    font-weight: bolder;
    padding-top: 180px;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}


.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #1111d9;
    text-decoration: auto;
    background-color: #acaddd;
    border: var(--bs-pagination-border-width) solid #98d165;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s cubic-bezier(0.42, 0, 0.73, 1.44);
    border-radius: 8px;
    font-family: monospace;
    font-weight: 900
}
